.btn {
  background-color: var(--button-bg);
  border-color: var(--button-border);
  color: var(--text-color) !important;
}

.btn:hover{
  background-color: var(--button-hover-bg);
  border-color: var(--button-hover-border);
}