.card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--card-border);
}

.app-icon {
  font-size: 1.2rem;
  color: var(--icon-color);
  margin: 0px 5px 35px -10px;
}

.fa-caret-right {
  font-size: 1.2rem !important;
  padding: 0 !important;
  color: var(--icon-color);
}

.alert {
  border: none;
  margin-bottom: 1rem;
  padding: 0.55rem !important;
  max-width: fit-content;
  font-size: 0.775rem;
}

.btn {
  background-color: var(--button-bg);
  border-color: var(--button-border);
  color: var(--text-color) !important;
}

.btn:hover{
  background-color: var(--button-hover-bg);
  border-color: var(--button-hover-border);
}

.card-text {
  margin-bottom: 25px;
}

