html, body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
}

.card-text {
  margin-bottom: 25px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: 0 solid var(--card-border);
    border-radius: .25rem;
    color: var(--text-color);
}

:root {
    --body-bg: #121212;

    --text-color: #fffff1;
    --text-soft: #c8ccd4;

    --card-bg: #282828;
    --card-border: rgba(0,0,0,.125);

    --button-bg: transparent;
    --button-border: #8A8A8A;
    --button-hover-bg: #8a8a8a75;
    --button-hover-border: #8A8A8A;
    --button-active-bg: #fffff1;
    --button-active-border: #aaa5a5;
    --button-text-color: #09090b;

    --accent: #4cc9f0;
    --accent-soft: rgba(76, 201, 240, 0.3);

    --nav-bg-collapsed: linear-gradient(180deg, #1f2327 0%, #181b1f 100%);
    --mobile-topbar-bg: linear-gradient(90deg, #1f2327 0%, #181b1f 100%);
    --nav-border: rgba(255, 255, 255, 0.08);
    --nav-logged-in: green;
    --nav-not-logged-in: red;

    --icon-color: #8A8A8A;

    --panel-bg: rgba(30, 34, 39, 0.86);
    --panel-border: rgba(255, 255, 255, 0.14);

    --invalid-text: #ff6b6b;
    --valid-text: #28a745;    
    
    --showcase-bg: radial-gradient(circle at top right, #27303a 0%, #191d22 58%, #121417 100%);
    --showcase-bg-alt: radial-gradient(circle at top left, #27303a 0%, #191d22 58%, #121417 100%);

    --box-shadow:rgba(0, 0, 0, 0.35);
    --point-icon-bg: rgba(255, 255, 255, 0.12);
    --glow-top-bg: rgba(76, 201, 240, 0.22);
    --glow-bottom-bg: rgba(169, 112, 255, 0.14);

    --form-bg: rgba(255, 255, 255, 0.06);
    --form-border: rgba(255, 255, 255, 0.16);
    --form-placeholder: #adb5bd;
    --form-bg-focus: rgba(255, 255, 255, 0.1);

    --link-color-active: #8A8A8A;
    --link-bg-active: #8a8a8a75;

    --danger-bg:rgba(134, 6, 6, 0.534);
    --danger-border:#3a0202;
    --danger-text:#ffffff;
}

.light-theme {
    --body-bg: #F8F8F8;

    --text-color: #09090b;
    --text-soft: #09090b75;

    --card-bg: #FFFFFF;
    --card-border: #EEEEEE;

    --button-bg: #f8f8f8;
    --button-border: #e8e8e8;
    --button-hover-bg: #E2E2E2;
    --button-hover-border: #e8e8e8;
    --button-active-bg: #E2E2E2;
    --button-active-border: #aaa5a5;
    --button-text-color: #09090b;

    --accent: #B3360F;
    --accent-soft: rgba(179, 54, 15, 0.3);

    --nav-bg-collapsed: linear-gradient(180deg, #E0DCD8 0%, #E7E4E0 100%);
    --mobile-topbar-bg: linear-gradient(90deg, #E0DCD8 0%, #E7E4E0 100%);
    --nav-border: rgba(0, 0, 0, 0.08);
    --nav-logged-in: green;
    --nav-not-logged-in: red;

    --icon-color: #757575;

    --panel-bg: rgba(225, 221, 216, 0.86);
    --panel-border: rgba(0, 0, 0, 0.14);

    --invalid-text: #ff6b6b;
    --valid-text: #28a745;   

    --showcase-bg: radial-gradient(circle at top right, #D8CFC5 0%, #E6E2DD 58%, #EDEBE8 100%);
    --showcase-bg-alt: radial-gradient(circle at top left, #D8CFC5 0%, #E6E2DD 58%, #EDEBE8 100%);

    --box-shadow:rgba(255, 255, 255, 0.35);
    --point-icon-bg: rgba(0, 0, 0, 0.12);
    --glow-top-bg: rgba(179, 54, 15, 0.22);
    --glow-bottom-bg: rgba(86, 143, 0, 0.14);

    --form-bg: rgba(0, 0, 0, 0.06);
    --form-border: rgba(0, 0, 0, 0.16);
    --form-placeholder: #524A42;
    --form-bg-focus: rgba(0, 0, 0, 0.1);

    --link-color-active: #757575;
    --link-bg-active: #75757575;

    --danger-bg:rgba(226, 40, 40, 0.856);
    --danger-border:#3a0202a2;
    --danger-text:#000000;
}

.retro-theme {
    --body-bg: #E4D8B4;

    --text-color: #793205;
    --text-soft: #918462fd;

    --card-bg: #ECE3CA;
    --card-border: #dbca9b;

    --button-bg: #e4d8b4;
    --button-border: #cfc299;
    --button-hover-bg: #CFC4A3;
    --button-hover-border: #cfc299;
    --button-active-bg: #E0D1B5;
    --button-active-border: #c0b091;
    --button-text-color: #09090b;

    --accent: #793205;
    --accent-soft: rgba(179, 54, 15, 0.3);

    --nav-bg-collapsed: linear-gradient(180deg, #DBCA9B 0%, #e7d5a4 100%);
    --mobile-topbar-bg: linear-gradient(90deg, #DBCA9B 0%, #e7d5a4 100%);
    --nav-border: rgba(0, 0, 0, 0.08);
    --nav-logged-in: green;
    --nav-not-logged-in: red;

    --icon-color: #56524C;

    --panel-bg: rgba(225, 221, 216, 0.86);
    --panel-border: rgba(0, 0, 0, 0.14);

    --invalid-text: #ff6b6b;
    --valid-text: #28a745;   
    
    --showcase-bg: radial-gradient(circle at top right, #DBCA9B 0%, #d8c798 58%, #e7d5a4 100%);
    --showcase-bg-alt: radial-gradient(circle at top left, #DBCA9B 0%, #d8c798 58%, #e7d5a4 100%);

    --box-shadow:rgba(255, 255, 255, 0.35);
    --point-icon-bg: rgba(0, 0, 0, 0.12);
    --glow-top-bg: rgba(179, 54, 15, 0.22);
    --glow-bottom-bg: rgba(86, 143, 0, 0.14);

    --form-bg: rgba(0, 0, 0, 0.06);
    --form-border: rgba(0, 0, 0, 0.16);
    --form-placeholder: #524A42;
    --form-bg-focus: rgba(0, 0, 0, 0.1);

    --link-color-active: #E0D1B5;
    --link-bg-active: #E0D1B575;

    --danger-bg:rgba(182, 35, 35, 0.774);
    --danger-border:#3a0202b6;
    --danger-text:#000000;
}

.lemonade-theme {
    --body-bg: #e1e6d9;/**/

    --text-color: #09090b;/**/
    --text-soft: #09090b75;/**/

    --card-bg: #f8fdef;/**/
    --card-border: #cbcfc3;/**/

    --button-bg: #e3e8db;/**/
    --button-border: #cbd4bf;/**/
    --button-hover-bg: #ccd1c5;/**/
    --button-hover-border: #cbd4bf;/**/
    --button-active-bg: #d7e2c1;/**/
    --button-active-border: #abb49f;/**/
    --button-text-color: #09090b;/**/

    --accent: #9cb96a;
    --accent-soft: rgba(109, 128, 76, 0.3);

    --nav-bg-collapsed: linear-gradient(180deg, #e4f0d2 0%, #d4e2bc 100%);/**/
    --mobile-topbar-bg: linear-gradient(90deg, #e4f0d2 0%, #d4e2bc 100%);/**/
    --nav-border: rgba(0, 0, 0, 0.08);/**/
    --nav-logged-in: green;/**/
    --nav-not-logged-in: red;/**/

    --icon-color: #343300;/**/

    --panel-bg: rgba(225, 248, 212, 0.86);/**/
    --panel-border: rgba(0, 0, 0, 0.14);/**/

    --invalid-text: #ff6b6b;/**/
    --valid-text: #28a745;/**/

    --showcase-bg: radial-gradient(circle at top right, #d7e4c4 0%, #c8daaf 58%, #abc08e 100%);/**/
    --showcase-bg-alt: radial-gradient(circle at top left, #d7e4c4 0%, #c8daaf 58%, #abc08e 100%);/**/

    --box-shadow:rgba(225, 248, 212, 0.35);/**/
    --point-icon-bg: rgba(52, 51, 0, 0.12);/**/
    --glow-top-bg: rgba(179, 54, 15, 0.22);/**/
    --glow-bottom-bg: rgba(86, 143, 0, 0.14);/**/

    --form-bg: rgba(0, 0, 0, 0.06);/**/
    --form-border: rgba(0, 0, 0, 0.16);/**/
    --form-placeholder: #524A42;/**/
    --form-bg-focus: rgba(0, 0, 0, 0.1);/**/

    --link-color-active: #e3e8db;/**/
    --link-bg-active: #e3e8db75;/**/

    --danger-bg:rgba(182, 35, 35, 0.774);
    --danger-border:#3a0202b6;
    --danger-text:#000000;
}

.invalid {
  color: var(--invalid-text) !important;
  font-size: 0.775rem;
}

.valid {
  color: var(--valid-text) !important;
  font-size: 0.775rem;
}
