<div class="card card-top" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Settings</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">You can manage your account settings here.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-4 d-none d-md-block">
            <div class="card">
                <div class="card-body">
                    <nav class="nav flex-column nav-pills nav-gap-y-1">
                        <a href="#profile" (click)="$event.preventDefault(); setActiveTab('profile')" class="nav-item nav-link has-icon nav-link-faded" [class.active]="isTab('profile')" [attr.aria-selected]="isTab('profile')">
                            <i class="fa-regular fa-user"></i> Profile Information
                        </a>
                        <a href="#security" (click)="$event.preventDefault(); setActiveTab('security')" class="nav-item nav-link has-icon nav-link-faded" [class.active]="isTab('security')" [attr.aria-selected]="isTab('security')">
                            <i class="fa-solid fa-shield"></i> Security
                        </a>
                        <a href="#preferences" (click)="$event.preventDefault(); setActiveTab('preferences')" class="nav-item nav-link has-icon nav-link-faded" [class.active]="isTab('preferences')" [attr.aria-selected]="isTab('preferences')">
                            <i class="fa-solid fa-sliders"></i> Preferences
                        </a>
                        <a href="#notification" (click)="$event.preventDefault(); setActiveTab('notification')" class="nav-item nav-link has-icon nav-link-faded" [class.active]="isTab('notification')" [attr.aria-selected]="isTab('notification')">
                            <i class="fa-regular fa-bell"></i> Notification
                        </a>
                        <a href="#account" (click)="$event.preventDefault(); setActiveTab('account')" class="nav-item nav-link has-icon nav-link-faded" [class.active]="isTab('account')" [attr.aria-selected]="isTab('account')">
                            <i class="fa-solid fa-gears"></i> Account Settings
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header border-bottom mb-3 d-flex d-md-none">
                    <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                        <li class="nav-item">
                            <a href="#profile" (click)="$event.preventDefault(); setActiveTab('profile')" class="nav-link has-icon" [class.active]="isTab('profile')"><i class="fa-regular fa-user"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#security" (click)="$event.preventDefault(); setActiveTab('security')" class="nav-link has-icon" [class.active]="isTab('security')"><i class="fa-solid fa-shield"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#preferences" (click)="$event.preventDefault(); setActiveTab('preferences')" class="nav-link has-icon" [class.active]="isTab('preferences')"><i class="fa-solid fa-sliders"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#notification" (click)="$event.preventDefault(); setActiveTab('notification')" class="nav-link has-icon" [class.active]="isTab('notification')"><i class="fa-solid fa-bell"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" (click)="$event.preventDefault(); setActiveTab('account')" class="nav-link has-icon" [class.active]="isTab('account')"><i class="fa-solid fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <app-profile  class="tab-pane" id="profile" [class.active]="isTab('profile')" [class.show]="isTab('profile')" [class.d-none]="!isTab('profile')"></app-profile>
                    <app-security class="tab-pane" id="security" [class.active]="isTab('security')" [class.show]="isTab('security')" [class.d-none]="!isTab('security')"></app-security>
                    <app-preferences class="tab-pane" id="preferences" [class.active]="isTab('preferences')" [class.show]="isTab('preferences')" [class.d-none]="!isTab('preferences')"></app-preferences>
                    <app-notification class="tab-pane" id="notification" [class.active]="isTab('notification')" [class.show]="isTab('notification')" [class.d-none]="!isTab('notification')"></app-notification>
                    <app-account class="tab-pane" id="account" [class.active]="isTab('account')" [class.show]="isTab('account')" [class.d-none]="!isTab('account')"></app-account>
                </div>
            </div>
        </div>
    </div>
</div>