.modal-content {
    background-color: var(--card-bg);
    color: var(--text-color);
}
.modal-header {
    border-bottom: 1px solid var(--card-border);
}

.modal-footer {
    border-top: 1px solid var(--card-border);
    justify-content: center;
}

.modal {
    top: 12.5%;
}