.modal-content {
    background-color: var(--card-bg);
    color: var(--text-color);
}
.modal-header {
    border-bottom: 1px solid var(--card-border);
}

.modal-footer {
    border-top: 1px solid var(--card-border);
    justify-content: center;
}

.modal {
    top: 12.5%;
}

.btn-danger {
  background-color: var(--danger-bg);
  border-color: var(--danger-border);
  color: var(--danger-text) !important;
}

.btn:hover{
  background-color: var(--button-hover-bg);
  border-color: var(--button-hover-border);
}